<%= render "devise/shared/global_header"%> 

<div class="post">
   <%= form_with model: @form, local: true do |f|%>

      <%= render "devise/shared/error_messages", model: @form %>

      <div class="field">
      <%= f.label :title, "レシピのタイトル（必須）" %><br />
      <%= f.text_area :title%>
      </div>

      <div class="field">
      <%= f.label :image, "投稿したい画像があればここをクリックしてください" %><br />
      <%= f.file_field :image%>
      </div>

      <div class="field">
      <%= f.label :detail, "コーヒーの詳細（必須）" %><br />
      <%= f.text_area :detail%>
      </div>

      <div class="field">
      <%= f.label :how_brew, "淹れ方の詳細(必須）" %><br />
      <%= f.text_area :how_brew%>
      </div>

      <div class="field">
      <%= f.label :why_brew, "なぜそうしたのか（参考にした記事など）" %><br />
      <%= f.text_area :why_brew %>
      </div>

      <div class="field">
      <%= f.label :commit, "こだわりポイント" %><br />
      <%= f.text_area :commit%>
      </div>

      <div class="field">
      <%= f.label :taste, "お味はいかがでしたか？（必須）" %><br />
      <%= f.text_area :taste%>
      </div>

      <div class="field">
      <%= f.label :name, "タグ" %><br />
      <%= f.text_area :name%>
      </div>

      <%= f.select :status, Article.statuses.keys.map{|k| [t("enums.articles.status.#{k}"), k]}, class:"check_box box"%> 

      <div class="action">
      <%= f.submit "更新する", class: :form__btn %>
      </div>

   <% end %>

   <strong ><%= link_to "トップページにもどる", root_path, class: "btn root_link"%></strong>
</div>