  <%= render "devise/shared/global_header"%>
  <%= render "devise/shared/second_header"%>
  <%= render "devise/shared/done_flash_message"%>

  <div class="card__wrapper">
    <% @results.each do |article|%>
      <div class="card">
        <%# 必ずしも、記事投稿の際に画像を添付する必要はないので... %>
          <% if article.image.attached? %>   
            <%= link_to image_tag(article.image, class: :card__img ), article, method: :get %>   <%# 投稿詳細ページに %>
          <% end %>
          <div class="card__body">
            <%= link_to article.title, article, class: :card__title%>         <%# 投稿詳細ページに %>
            <% article.tags.each do |tag|%>
              <p class="card__summary">
                <%= tag.name %>
              </p>
            <% end %>
            <%= link_to "by #{article.user.nickname}", "#", class: :card__user %>    <%# ユーザー詳細ページに %>
          </div>
      </div>
    <% end %>
  </div>