<%= render "devise/shared/global_header"%>
<%= render "devise/shared/second_half_header"%> 
<%= render "devise/shared/done_flash_message"%>

<div class="article">
  <%# ここから記事情報 %>
  <div class="article_info">
    <div class="upper_head">
      <div class="upper_head_left ">
        <p class="title">
          <%= @article.title%>
        </p>
        <p class="nickname">
          by<%= link_to @article.user.nickname, user_path(@article.user.id), class: :nickname_ho%>
        </p>
      </div>
      <% if user_signed_in? && current_user.id == @article.user.id%>
        <div class="upper_head_right">
          <%= link_to "編集", edit_article_path(@article), class: :edit_button%>
          <%= link_to "削除", article_path(@article), method: :delete, class: :destroy_button, data: {confirm: "削除しますか？"} %>
        </div>
      <% end %>
    </div>
    <% if @article.image.attached?%>
      <div class="middle_head">
        <%= image_tag @article.image.variant(resize: "400x400"), class: :image%>
      </div>
    <% end %>
    <div class="lower_head">
      <p class="details">
        コーヒーの詳細
      </p>
      <%= safe_join(@article.detail.split("\n"), tag(:br))%>
    </div>
    <div class="upper_body">
      <div class="how_brew">
        <p class="details">
          どうやって作ったか
        </p>
        <%= safe_join(@article.how_brew.split("\n"), tag(:br))%>
      </div>
      <div class="why_brew">
        <p class="details">
          なぜそうしたか
        </p>
        <%= text_url_to_link(h(safe_join(@article.why_brew.split("\n"), tag(:br)))).html_safe%>
      </div>
    </div>
    <div class="middle_body">
      <p class="details">
          お味は？
      </p>
      <%= safe_join(@article.taste.split("\n"), tag(:br))%>
    </div>
    <div class="lower_body">
       <p class="details">
          こだわりポイント
      </p>
      <%= safe_join(@article.commit.split("\n"), tag(:br))%>
    </div>
    <div class="lower__body">
       <p class="details">
          タグ
      </p>
      <% @article.tags.each do |tag|%>
        <%= safe_join(tag.name.split("\n"), tag(:br))%>
      <% end %>
    </div>
    <div class="foot">
      <div id="likes_buttons_<%= @article.id %>">
        <%= render partial: "favorites/favorite", locals: {article: @article}%>
      </div>
    </div>
  </div>      
  <%# //ここまで、記事情報 %>
  <%# ここからコメント情報 %>
  <div class="comment_info">
    <p class="details">レビュー欄</p>
    <% if user_signed_in?%>
      <%= form_with model: [@article, @review], class: :comment_input do |f|%>
        <%= f.text_field :review, class: :input_form%>
        <%= f.submit "レビューを投稿する"%>
      <% end %>
    <% else %>
      <p><%= link_to "ログインする", new_user_session_path, class: :log_in%>とレビューを投稿できるようになります！</p>
    <% end %>
    <div class="comment_index">
      <% @reviews.each do |review|%>
        <div class="comment">
          <%= link_to review.user.nickname, user_path(review.user.id), class: :comment_by%><br />
          <%= safe_join(review.review.split("\n"), tag(:br)) %>
        </div>
      <% end %>
    </div>
  </div>
  <%# //ここまでコメント情報 %>
</div>
