<%= render "devise/shared/global_header"%>
<%= render "devise/shared/second_half_header"%> 

<div class="users">
  <div class="user_info">
      <div class="user_name">
        <%= "#{@user.nickname}のページ" %>
      </div>
      <p class="info_box">職業<br /></p>
      <div class="user_job">
        <%= @user.job.name%>
      </div>
      <p class="info_box">1日にコーヒーを飲む量<br /></p>
      <div class="user_drink">
        <%= "1日にコーヒーを#{@user.drink_coffee.name}飲みます"%>
      </div>
      <p class="info_box">お気に入りのお店<br /></p>
      <div class="user_favorite_shop">
        <%= "#{@user.favorite_shop}"%><br />
      </div>
  </div>
  <div class="edit__button">
    <%= link_to "ユーザー情報を編集する", "#"%>
  </div>
</div>
<%# ここまで、ユーザー詳細情報の表示 %>
<%# ここから、投稿した記事一覧表示 %>
<div class="card__wrapper">
  <% @user_articles.each do |article|%>
    <div class="card">
      <%# 必ずしも、記事投稿の際に画像を添付する必要はないので... %>
        <% if article.image.attached? %>   
          <%= link_to image_tag(article.image, class: :card__img ), article_path(article), method: :get %>   <%# 投稿詳細ページに %>
        <% end %>
        <div class="card__body">
          <%= link_to article.title, article_path(article), class: :card__title%>         <%# 投稿詳細ページに %>
          <% article.tags.each do |tag|%>
            <p class="card__summary">
              <%= tag.name %>
            </p>
          <% end %>
        </div>
    </div>
  <% end %>
</div>