<%= render "devise/shared/global_header"%>
<%= render "devise/shared/second_half_header"%> 
<% breadcrumb :user, @user%>
<%= breadcrumbs separator: " &rsaquo; " %>

<div class="users">
  <div class="user">
    <h2 class="user_name"><%= "#{@user.nickname}のページ" %></h2>
     <%if @user.id == current_user.id%>
      <div class="edit_box">
        <%= link_to "編集する", " :id/edit", class: :edit_button%>
      </div>
      <% else %>
        <%= render "relationships/follow_button", user: @user %>
    <% end %>
  </div>
  <div class="user_info">
    <p class="info_box">職業<br /></p>
    <div class="user_detail">
      <%= @user.job.name%>
    </div>
    <p class="info_box">1日にコーヒーを飲む量<br /></p>
    <div class="user_detail">
      <%= "1日にコーヒーを#{@user.drink_coffee.name}飲みます"%>
    </div>
    <p class="info_box">お気に入りのお店<br /></p>
    <div class="user_detail">
      <%= "#{@user.favorite_shop}"%><br />
    </div>
  </div>
</div>
<%# ここまで、ユーザー詳細情報の表示 %>
<%# ここから、投稿した記事一覧表示 %>
<div class="card__wrapper">
  <% @user_articles.each do |article|%>
    <div class="card">
        <% if article.image.attached? %>   
          <%= link_to image_tag(article.image.variant(resize:"400x400"), class: :card__img), article_path(article), method: :get %>
        <% end %>
        <div class="card__body">
          <%= link_to article.title, article_path(article), class: :card__title%>         
          <% article.tags.each do |tag|%>
            <p class="card__summary">
              <%= safe_join(tag.name.split("\n"), tag(:br))%>
            </p>
          <% end %>
        </div>
    </div>
  <% end %>
</div>