<!DOCTYPE html>
<html>
  <head>
    <title>TheBrewers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="global_header">
      <div class="global_inner">
        <div class="global_nav">
          <div class="global_nav__left">
            <%# <%= link_to "TheBrewers", "#", class: :global_logo %> 
          </div>
          <% if user_signed_in? %>
          <%# ログイン時 %>
            <div class="global_nav__right">
              <%= link_to "ようこそ、#{current_user.nickname}さん",  "#", class: :global_nav__btn %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :global_nav__logout %>
            </div>
          <%# // ログイン時 %>
          <% else %>
          <%# ログアウト時%>
            <div class="global_nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :global_nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :global_nav__btn %>
            </div>
          <% end %>
          <%# ログアウト時 %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="global_footer">
      <p class="copyright">Copyright © THE BREWERS All rights reserved.</p>
    </footer>
  </body>
</html>
