<!DOCTYPE html>
<html>
  <head>
    <title>TheBrewers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class="global_footer">
      <p class="copyright">Copyright © THE BREWERS All rights reserved.</p>
    </footer>
  </body>
</html>
